head{
	position:absolute;
}
#navbar{
	background-color:black;
	padding:0;
	margin: 0;
	overflow:hidden;
	position:relative;
}
#left-corner img{
	height:100px;
}
#left-corner{
	display:inline-block;
	color:black;
	font-family:Oswald;
	position:relative;
}
#titles{
	color:#f00;
	display:inline-block;
	padding:23px;
	font-size:40px;
	float:right;
	font-family:Oswald,sans-serif;
	border-right:solid 1px #f00;
}
a #titles:hover{
	background-color:white;
}

#banner p{
	margin:0px auto;
	font-size:50px;
	font-family:oswald;
}
#banner img{
	height:300px;
	width:100%;
}

#combo{
	padding-right:10em;
}
#size{
	padding-right:1em;
	text-align:center;
}
/*#pizzab{
	background-image:url("http://advantagenews.com/downloads/2162/download/romas.jpg?cb=add63209fe46a621ddbd22fa7cc15641");
	background-size:cover;
	height:1000px;
	background-opacity:.1;
}
*/
td{
	padding-bottom:1em;
}
a #titles:hover{
	background-color:white;
}s