head{position:absolute;}

ul{
	background-color:#333;
	padding:0;
	margin:0;
	overflow:hidden;
	position:relative;
}
#left-corner{
	display:inline-block;
	padding:20px;
	color:white;
	font-size:20px;
	font-family:Oswald;
	position:relative;
}
#titles{
	display:inline-block;
	padding:23px;
	float:right;
	color:white;
	font-family:Oswald,sans-serif;
}
a #titles:hover{
	background-color:orange;
}
#banner{
	height:200px;
	width:3000px;
	background-color:gray;
	display:table-cell;
	vertical-align: middle;
}
#banner p{
	margin:0px auto;
	font-size:50px;
	font-family:oswald;
}

#combo{
	padding-right:10em;
}
#size{
	padding-right:1em;
	text-align:center;
}
/*#pizzab{
	background-image:url("http://advantagenews.com/downloads/2162/download/romas.jpg?cb=add63209fe46a621ddbd22fa7cc15641");
	background-size:cover;
	height:1000px;
	background-opacity:.1;
}
*/
td{
	padding-bottom:1em;
}