head{
	position:absolute;
}
#navbar{
	background-color:black;
	padding:0;
	margin: 0;
	overflow:hidden;
	position:relative;
}
#left-corner img{
	height:100px;
}
#left-corner{
	display:inline-block;
	color:black;
	font-family:Oswald;
	position:relative;
}
#titles{
	color:#f00;
	display:inline-block;
	padding:23px;
	font-size:40px;
	float:right;
	font-family:Oswald,sans-serif;
	border-right:solid 1px #f00;
}
a #titles:hover{
	background-color:white;
}
#container{
	background-color:white;
}
#contents{
	width:100%;
	height:1000px;
	text-align: center;
	border: black 1px solid;
}